.hero_wrapper{
    height: 500px;
    overflow: hidden;

    & .container{
        max-width: 1170px;
        margin: 0 auto;
    }

    & .hero_con{
        display: flex;
        justify-content: space-between;
        margin-top: 115px;

        & .text_1{
            font-size: 32px;
        }
    
        & .text_2{
            font-size: 32px;
            font-weight: bold;
            color:#1f4a71;
        }
    
        & .text_3{
            font-size: 32px;
            
        }
    
        & .text_4{
            margin-top: 25px;
            font-size: 16px;
            
        }
        
        & .hero_social{
            display: flex;
            list-style: none;
            margin-top: 25px;
            & li{
                margin-right: 10px;

                & svg{
                    height: 32px;
                    width: 32px;
                    color: black;
                }
            }
     
        }

        & .hero_img{
            height: 300px;
            width: 300px;
            border-radius: 100%;
            background-image:url('/src/img/S__12533862.jpg');
            background-size: cover;
            background-position: center top;
            margin-right: 120px;
        }
    }

}


@media screen and (max-width : 480px) {
    .hero_wrapper{
        height: auto;

        & .hero_con{
            flex-direction: column;
            margin: 50px 0;
            padding: 20px;

            & .hero_info, .hero_img{
                width: 100%;
                
            }

        }
    }
    
}